name: Code Testing
on:
  push:
    branches:
      - dev

jobs:
  runIntegrationTest:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Generate Prisma Client
        run: ./node_modules/.bin/prisma generate
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

      - name: Sync Database Schema
        run: npx prisma db push

      - name: Type Check
        run: npx tsc --noEmit

      - name: Run Test
        run: npm run test
