name: Code Testing
on:
  push:
    branches:
      - dev

jobs:
  runIntegrationTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      - name: Type Check
        run: npx tsc --noEmit

      - name: Run Test
        run: npm run test
